<div class="header">
  <a href="https://github.com/RignonNoel/angular-multiselect" class="header__item">
    Go to the Github repository
  </a>
</div>
<div class="content">
  Little package to easily select multiple choices of a big set of data. It's perfect for manage ManyToMany relationships in your admin panel for example.

  <div class="content__section">
    <div class="content__section__title">
      Demo
    </div>
    <div class="content__section__content">
      <multiselect [list]="choicesAvailable"
                   [(selected)]="selectedChoices"
                   labelProperty="name"
                   (searchBar)="filter($event)">
      </multiselect>

      <p>
        It's easy to see the result in realtime with the variable we bind to the component:
      </p>
      <p>
        <b>Number of choices:</b> {{ selectedChoices.length }}<br/>
        <b>Last choice:</b>
        <span *ngIf="selectedChoices.length > 0">
          {{ selectedChoices[selectedChoices.length - 1].name }}
        </span>
        <span *ngIf="selectedChoices.length <= 0">
          None
        </span>
      </p>
    </div>
  </div>

  <div class="content__section">
    <div class="content__section__title">
      With datetime selector
    </div>
    <div class="content__section__content">
      <p>
        If you use the `typeOfSearch='datetime'` you will have a datetime picker in place of the searchbar.
      </p>
      <multiselect [list]="demo1ChoicesAvailable"
                   [(selected)]="demo1SelectedChoices"
                   labelProperty="name"
                   (searchBar)="setDemo1($event)"
                   typeOfSearch="datetime">
      </multiselect>

      <p>
        Value emmited by the search bar: {{ demo1 }}
      </p>
    </div>
  </div>

  <div class="content__section">
    <div class="content__section__title">
      With datetime range selector
    </div>
    <div class="content__section__content">
      <p>
        If you use the `typeOfSearch='datetime-range'` you will have two datetime picker in place of the searchbar.
      </p>
      <multiselect [list]="demo2ChoicesAvailable"
                   [(selected)]="demo2SelectedChoices"
                   labelProperty="name"
                   (searchBar)="setDemo2($event)"
                   typeOfSearch="datetime-range">
      </multiselect>

      <p>
        Value emmited by the search bar:
      </p>
      <ul *ngIf="demo2">
        <li>Start : {{ demo2.start }}</li>
        <li>End : {{ demo2.end }}</li>
      </ul>
    </div>
  </div>
</div>
